<!DOCTYPE html>
<html class='no-js' >
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<!--==================================================================
			Your Title
		==================================================================-->
		<title>wigets.com</title>
		
		
		<!--==================================================================
			CSS Stylesheets
		==================================================================-->
		<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.min.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/ionicons.min.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/owl.carousel.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/magnific-popup.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/style.css' >
		
	</head>
	<body>
		
		<!--page-borders-->
		<div class='page-borders' >
			<div class='left' ></div>
			<div class='right' ></div>
		</div>
		
		<!--menu-btn-->
		<a href='#' class='menu-btn' >
			<span class='lines' >
				<span class='l1' ></span>
				<span class='l2' ></span>
				<span class='l3' ></span>
			</span>
		</a>
		
		
		<!--menu-->
		<nav class='menu' >
			<ul>
				<li>
					<a href='#intro' >
						Home
					</a>
				</li>
				<li>
					<a href='#manuals' >
						Product Manuals
					</a>
				</li>
			</ul>
		</nav>
		
		<!--==================================================================
			Preloader
		==================================================================-->
		<div id='preloader' >
			<div class='loader' >
				<img src='/static/img/loader.gif' alt>
			</div>
		</div>
		
		
		<!--==================================================================
			Main Wrapper
		==================================================================-->
		<div id='main-wrapper' >
			
			
			<!--==================================================================
				Intro Section
			==================================================================-->
			<section id='intro' class='section intro-section' >
				<div class='container' >
					<div class='row intro-cols' >
						<div class='col-md-6 col-md-push-6' >
							<div class='nuts' >
								<div class='nuts-img' >
									<img src='/static/nuts.jpg' alt>
								</div>
							</div>
						</div>
						<div class='col-md-6 col-md-pull-6' >
							<div class='v-align' >
								<div class='inner' >
									<div class='intro-text' >
										<h1>
											WIDGETS.COM
										</h1>
										<p>
											Building better widgets
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
			<!--==================================================================
				Features Section -- 1
			==================================================================-->
			<section id='manuals' class='section features-section' >
				<div class='container' >
					<div class='manuals-img' >
						<img src='/static/manuals.jpg' class="center" alt>
					</div>
					<div class='row' >
						<div class='col-md-8 col-md-offset-2' >
							<div class='features-text' >
								<h2>Product Manuals</h2>
								<p>
										<a href="/static/manuals/Product_Guide-001.pdf">Maxi-1000</a>
										<a href="/static/manuals/Product_Guide-002.pdf">Maxi-1001</a>
										<a href="/static/manuals/Product_Guide-003.pdf">Maxi-1002</a>
										<a href="/static/manuals/Product_Guide-004.pdf">Maxi-1003</a>
										<a href="/static/manuals/Product_Guide-005.pdf">Maxi-1004</a>
										<a href="/static/manuals/Product_Guide-006.pdf">Maxi-1005</a>
										<a href="/static/manuals/Product_Guide-007.pdf">Baxi-1000</a>
										<a href="/static/manuals/Product_Guide-008.pdf">Baxi-1001</a>
										<a href="/static/manuals/Product_Guide-009.pdf">Baxi-1002</a>
										<a href="/static/manuals/Product_Guide-010.pdf">Baxi-1003</a>
										<a href="/static/manuals/Product_Guide-011.pdf">Baxi-1004</a>
										<a href="/static/manuals/Product_Guide-012.pdf">Baxi-1005</a>
										<a href="/static/manuals/Product_Guide-013.pdf">Tape-1000</a>
										<a href="/static/manuals/Product_Guide-014.pdf">Tape-1001</a>
										<a href="/static/manuals/Product_Guide-015.pdf">Tape-1002</a>
										<a href="/static/manuals/Product_Guide-016.pdf">Tape-1003</a>
										<a href="/static/manuals/Product_Guide-017.pdf">Tape-1004</a>
										<a href="/static/manuals/Product_Guide-018.pdf">Tape-1005</a>
										<a href="/static/manuals/Product_Guide-019.pdf">Bog-1000</a>
										<a href="/static/manuals/Product_Guide-020.pdf">Bog-1001</a>
										<a href="/static/manuals/Product_Guide-021.pdf">Bog-1002</a>
										<a href="/static/manuals/Product_Guide-022.pdf">Bog-1003</a>
										<a href="/static/manuals/Product_Guide-023.pdf">Bog-1004</a>
										<a href="/static/manuals/Product_Guide-024.pdf">Bog-1005</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			
			
			<!--==================================================================
				Footer
			==================================================================-->
			<footer>
				<div class='container text-center' >
					<p>Original template Copyright Mi App &copy; 2016. a Noman Ali Samejo Production</p>
				</div>
			</footer>
			
		</div>
		
		
		<!--==================================================================
			JavaScript Files
		==================================================================-->
		<script src='/static/js/jquery.min.js' ></script>
		<script src='/static/js/jquery.fitvids.js' ></script>
		<script src='/static/js/owl.carousel.min.js' ></script>
		<script src='/static/js/jquery.magnific-popup.min.js' ></script>
		<script src='/static/js/validator.min.js' ></script>
		<script src='/static/js/script.js' ></script>
		
	</body>
</html>